<div class="nav messages">
    <div class="received me-5 border border-dark border-3">
        <div class="search-input-position mt-2">
            <input class="form-control search-input" placeholder="Szukaj">
        </div>
        <button class="btn btn-dark receiver-details bg-secondary">
            Asia Kozłowska
        </button>
    </div>
    <div class="mess border border-dark border-3">
        <div class="sender-receiver mb-2 mt-2 border border-secondary border-3 m-3">
            <div class="sender-info">
                OD: Jacek Wojciech
            </div>
        </div>
        <div class="message-position mb-2 mt-2 border border-secondary border-3 m-3">
            <div class="message-info bg-primary">
                WYSŁANO WIADOMOŚĆ
            </div>
            <div class="message-info-sender bg-primary">
                WYSŁANO WIADOMOŚĆ
            </div>
            <div class="message-info bg-primary">
                WYSŁANO WIADOMOŚĆ
            </div>
        </div>
        <div>
            <textarea class="message"></textarea>
            <div class="me-4">
                <button class="btn btn-info btn-position">Wyślij</button>
            </div>
        </div>
        <div class="mt-4"></div>
    </div>
</div>
