<ng-container *ngIf="loading">
    <div class="center-loading-icon">
        <app-loading-icon></app-loading-icon>
    </div>
</ng-container>
<div *ngIf="!loading" class="nav messages">
    <div class="received me-5 border border-dark border-3">
        <div class="search-input-position mt-2">
            <input class="form-control search-input" placeholder="Szukaj" [(ngModel)]="phrase" (change)="searchForUser()">
        </div>
        <button *ngFor="let user of users" class="btn btn-dark receiver-details" 
            [ngClass]="{'bg-secondary': currentUser?.id == user?.id }" 
            (click)="changeUser(user.id)"  >
            {{ user.firstName + ' ' + user.lastName }}
        </button>
    </div>
    <div class="mess border border-dark border-3">
        <div class="sender-receiver mb-2 mt-2 border border-secondary border-3 m-3">
            <div class="sender-info">
                DO: {{ currentUser?.firstName + ' ' + currentUser?.lastName }}
            </div>
        </div>
        <div class="message-position mb-2 mt-2 border border-secondary border-3 m-3">
            <ng-container *ngFor="let message of messages">
                <ng-container *ngIf="(getTokenData$ | async)?.userId != message.senderId">
                    <div class="message-info bg-primary text-break">
                        {{ message.text }}
                    </div>
                    <div class="receiver-hour">
                        {{ message.createdAt | date:'short' }}
                    </div>
                </ng-container>
                <ng-container *ngIf="(getTokenData$ | async)?.userId == message.senderId">
                    <div class="message-info-sender bg-primary text-break">
                        {{ message.text }}
                    </div>
                    <div class="sender-hour">
                        {{ message.createdAt | date:'short' }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <textarea class="message" [(ngModel)]="textMessage"></textarea>
            <div class="me-4">
                <button class="btn btn-info btn-position" (click)="sendMessage()" >Wyślij</button>
            </div>
        </div>
        <div class="mt-4"></div>
    </div>
</div>
