<div class="navbar header bg-dark text-white" *ngIf="showHeader">
    <div>
        <img class="img-logo" src="assets/logo.png" />
    </div>
    <div routerLink="/">
        <div class="logo-info-position">
            E-dziennik
        </div>
    </div>
    <div>
        <ng-container *ngIf="(getUserName$ | async)">
            <div class="d-flex">
                <div class="text-user text-break me-2">
                    {{ getUserName$ | async }}
                </div>
                <button class="text-user btn btn-outline-light" (click)="authService.logout()">
                    Wyloguj
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="!(getUserName$ | async)">
            <button routerLink="/sign-in" class="text-user btn btn-outline-light">
                Zaloguj
            </button>
        </ng-container>
        <div class="text-clock">
            {{ time | date: 'dd/MM/yyyy HH:mm:ss' }}
        </div>
    </div>
</div>