.header {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}

.user-info {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.logo-info {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.text-journal {
    font-size: 25px;
    font-weight: 600;
    align-items: center;
}

.text-user {
    font-size: 20px;
    font-weight: 500;
}

.text-clock {
    font-size: 15px;
}