.header {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.2fr;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.logo-info-position {
    font-size: 25px;
    //font-weight: 500;
    //font-family: 'Noto Serif Display', serif;
    //font-family: 'Shadows Into Light', cursive;
    font-family: 'Fredericka the Great', cursive;
    cursor: pointer;
}

.text-journal {
    font-size: 25px;
    font-weight: 600;
    align-items: center;   
}

.text-user {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Serif Display', serif;
}

.text-clock {
    font-size: 15px;
    font-family: 'Noto Serif Display', serif;
}

.img-logo {
    width: 25%;
}