<div class="navbar header bg-dark text-white" *ngIf="showHeader">
    <div>
        <img class="img-logo" src="assets/logo.png" />
    </div>
    <div routerLink="/">
        <div class="logo-info-position">
            E-dziennik
        </div>
    </div>
    <div routerLink="/sign-in">
        <button class="text-user btn btn-outline-light">
            {{ getUserName$ | async }}
        </button>
        <div class="text-clock">
            {{ time | date: 'dd/MM/yyyy HH:mm:ss' }}
        </div>
    </div>
</div>