<div>
    <head>
        <title>eDziennik</title>
    </head>
    <h1>eDziennik</h1>
    <nav>   
    <div class="container-fluid">
        <span class="navbar-brand">Angular + Bootstrap</span>
    </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups$ | async">
                <th scope="row">{{group.id}}</th>
                <td>{{group.name}}</td>
            </tr>
        </tbody>
  </table>
</div>