<div class="page">
<div class="position">
    <div class="me-4">
        <button routerLink="/timetable" class="btn btn-dark btn-element" >
            <i class="bi bi-list-stars icon"></i>
        </button>
        <div class="description">
            Plan
        </div>
    </div>
    <div class="me-4">
        <button routerLink="/grades" class="btn btn-dark btn-element">
            <i class="bi bi-mortarboard-fill icon"></i>
        </button>
        <div class="description">
            Indeks
        </div>
    </div>
    <div class="me-4">
        <button routerLink="/messages" class="btn btn-dark btn-element">
            <i class="bi bi-chat-left-dots-fill icon"></i>
        </button>
        <div class="description">
            Wiadomości
        </div>
    </div>
    <div class="me-4">
        <button routerLink="/account" class="btn btn-dark btn-element">
            <i class="bi bi-person-circle icon"></i>
        </button>
        <div class="description">
            Konto
        </div>
    </div>
</div>
</div>