.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 40px;
    bottom: 0;
}

.footer-position {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.footer-details {
    display: flex;
    justify-content: center;
}

.border-details {
    border-radius: 10px;
}