.center{
    transform: translateX(-50%);   
    left: 50%;   
    position: absolute;
}

.navbar-custom {
    color: #333333;
    border-radius: 0;
}

.navbar-height{
    min-height: 50px;
}

.bg-color {
    background-color: #eee
}