<ng-container *ngIf="loading">
    <div class="center-loading-icon">
        <app-loading-icon></app-loading-icon>
    </div>
</ng-container>
<div *ngIf="!loading" class="nav timetable m-5">
    <div class="groups-info border border-3 me-5">
        <div *ngFor="let group of groups" class="groups">
            {{ group.name }}
        </div>
    </div>
    <div class="timetable-info border border-3">
        <div class="monday border border-3">
            <div class="week-text">
                PON
            </div>
            <div class="monday-info-1 border border-3">
                systemy
            </div>
            <div class="monday-info-2 border border-3">
                znowu
            </div>
        </div>
        <div class="tuesday border border-3">
            <div class="week-text">
                WT
            </div>
            <div class="tuesday-info-1 border border-3">
                systemy
            </div>
            <div class="tuesday-info-2 border border-3">
                znowu
            </div>
        </div>
        <div class="wednesday border border-3">
            <div class="week-text">
                ŚR
            </div>
            <div class="wednesday-info-1 border border-3">
                systemy
            </div>
            <div class="wednesday-info-2 border border-3">
                znowu
            </div>
        </div>
        <div class="thursday border border-3">
            <div class="week-text">
                CZW
            </div>
            <div class="thursday-info-1 border border-3">
                systemy
            </div>
            <div class="thursday-info-2 border border-3">
                znowu
            </div>
        </div>
        <div class="friday border border-3">
            <div class="week-text">
                PT
            </div>
            <div class="friday-info-1 border border-3">
                systemy
            </div>
            <div class="friday-info-2 border border-3">
                znowu
            </div>
        </div>
    </div>
</div>
