<ng-container *ngIf="loading">
    <div class="center-loading-icon">
        <app-loading-icon></app-loading-icon>
    </div>
</ng-container>
<div *ngIf="!loading" class="nav timetable m-5">
    <div class="groups-info border border-3 me-5">
        <div *ngFor="let group of groups" [ngClass] = "{'bg-secondary': currentGroup?.id == group.id }" class="btn btn-dark mt-2 mb-2 btn-width"
            (click)="changeGroup(group)">
            {{ group.name }}
        </div>
    </div>
    <div class="timetable-info border border-3">
        <div class="mb-2 mt-2">
            <div>
                <div class="monday">
                    <div class="week-text">
                        Poniedziałek
                    </div>
                    <table class="table table-striped table-schedule">
                    <thead class="table-dark">
                            <tr>
                                <th scope="col">Godzina</th>
                                <th scope="col">Nazwa przedmiotu</th>
                                <th scope="col">Nauczyciel</th>
                                <th scope="col">Sala</th>
                            </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let schedule of schedulesPerDay.get(0)">
                                <td>
                                    {{ schedule.time }}
                                </td>
                                <td class="">
                                    {{ schedule.subject }}
                                </td>
                                <td class="text-break">
                                    {{ schedule.teacher }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="tuesday">
                    <div class="week-text">
                        Wtorek
                    </div>
                    <table class="table table-striped table-schedule">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Godzina</th>
                                <th scope="col">Nazwa przedmiotu</th>
                                <th scope="col">Nauczyciel</th>
                                <th scope="col">Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schedule of schedulesPerDay.get(1)">
                                <td>
                                    {{ schedule.time }}
                                </td>
                                <td class="">
                                    {{ schedule.subject }}
                                </td>
                                <td class="text-break">
                                    {{ schedule.teacher }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="wednesday">
                    <div class="week-text">
                        Środa
                    </div>
                    <table class="table table-striped table-schedule">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Godzina</th>
                                <th scope="col">Nazwa przedmiotu</th>
                                <th scope="col">Nauczyciel</th>
                                <th scope="col">Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schedule of schedulesPerDay.get(2)">
                                <td>
                                    {{ schedule.time }}
                                </td>
                                <td class="">
                                    {{ schedule.subject }}
                                </td>
                                <td class="text-break">
                                    {{ schedule.teacher }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="thursday">
                    <div class="week-text">
                        Czwartek
                    </div>
                    <table class="table table-striped table-schedule">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Godzina</th>
                                <th scope="col">Nazwa przedmiotu</th>
                                <th scope="col">Nauczyciel</th>
                                <th scope="col">Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schedule of schedulesPerDay.get(3)">
                                <td>
                                    {{ schedule.time }}
                                </td>
                                <td class="">
                                    {{ schedule.subject }}
                                </td>
                                <td class="text-break">
                                    {{ schedule.teacher }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="friday">
                    <div class="week-text">
                        Piątek
                    </div>
                    <table class="table table-striped table-schedule">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Godzina</th>
                                <th scope="col">Nazwa przedmiotu</th>
                                <th scope="col">Nauczyciel</th>
                                <th scope="col">Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schedule of schedulesPerDay.get(4)">
                                <td>
                                    {{ schedule.time }}
                                </td>
                                <td class="">
                                    {{ schedule.subject }}
                                </td>
                                <td class="text-break">
                                    {{ schedule.teacher }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-4"></div>
    </div>
</div>
