<ng-container *ngIf="loading">
    <div class="center-loading-icon">
        <app-loading-icon></app-loading-icon>
    </div>
</ng-container>
<div *ngIf="!loading" class="nav timetable m-5">
    <div class="groups-info me-5">
        <div *ngFor="let group of groups" [ngClass] = "{'bg-secondary': currentGroup?.id == group.id }" class="btn btn-dark mt-2 mb-2 btn-width"
            (click)="changeGroup(group)">
            {{ group.name }}
        </div>
    </div>
    <div class="timetable-info">
        <div class="mb-2 mt-2">
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary" (click)="printPage('printSchedules')">
                    <i class="bi bi bi-printer-fill"> Drukuj </i>
                </button>
            </div>
            <div id="printSchedules">
                <div>
                    <div class="monday">
                        <div class="week-text">
                            Poniedziałek
                        </div>
                        <app-table 
                            [headers]="['Id', 'Godzina', 'Nazwa przedmiotu', 'Nauczyciel', 'Sala']"
                            [data]="schedulesPerDay.get(0) ?? []">
                        </app-table>
                    </div>
                </div>
                <div>
                    <div class="tuesday">
                        <div class="week-text">
                            Wtorek
                        </div>
                        <app-table 
                            [headers]="['Id', 'Godzina', 'Nazwa przedmiotu', 'Nauczyciel', 'Sala']"
                            [data]="schedulesPerDay.get(1) ?? []"></app-table>
                    </div>
                </div>
                <div>
                    <div class="wednesday">
                        <div class="week-text">
                            Środa
                        </div>
                        <app-table 
                            [headers]="['Id', 'Godzina', 'Nazwa przedmiotu', 'Nauczyciel', 'Sala']"
                            [data]="schedulesPerDay.get(2) ?? []"></app-table>
                    </div>
                </div>
                <div>
                    <div class="thursday">
                        <div class="week-text">
                            Czwartek
                        </div>
                        <app-table 
                            [headers]="['Id', 'Godzina', 'Nazwa przedmiotu', 'Nauczyciel', 'Sala']"
                            [data]="schedulesPerDay.get(3) ?? []"></app-table>
                    </div>
                </div>
                <div>
                    <div class="friday">
                        <div class="week-text">
                            Piątek
                        </div>
                        <app-table 
                            [headers]="['Id', 'Godzina', 'Nazwa przedmiotu', 'Nauczyciel', 'Sala']"
                            [data]="schedulesPerDay.get(4) ?? []"></app-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4"></div>
    </div>
</div>
